<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>HEY</h1>
    <h2>welcome to the site</h2>
    <h3>the messaging site</h3>
    <h4>make an account, login, post a message</h4>
    <hr>
        <a href="/createUser">Create an account</a> | 
        <a href="/login">Login</a> |
        <a href="/message">post a message</a> | 
        <a href="/logout">logout</a> | 
    <hr>

    <h2>Messages</h2>

    <% for (let message of locals.messages) { %> 
        <div class="card">
            <div class="card-body">
               <span class="h5"><%= message.dataValues.content %></span> 
               

              
            </div>
            <div class="card-footer">
                    <span class="text-info">
                    <%= message.dataValues.upVotes%> Likes</span> <form action="/vote" method="post">
                <input type="hidden" name="upVote" value="<%=message.dataValues.upVotes %>">
                <input type="hidden" name="message_Id" value="<%=message.dataValues.id %>">
                <button type="submit" class="btn">Vote</button></form>
               </div>
            
        </div>
        <hr>
    <% } %>
    </div>
    

</body>
</html>