<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>login</h1>
<hr>
        <a href="/createUser">Create an account</a> | 
        
        <a href="/message">post a message</a> | 
         
    <hr>
    <form action="/login" method="POST">
        username: <input type="text" name="username" class="form-control"><br>
        password: <input type="text" name="password"class="form-control"><br>
        <button class="btn btn-primary">Login</button>
    </form>
    </div>
    
</body>
</html>